*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #f6f7f8;
}
button{
    border: none;
    cursor: pointer;
    background-color: white;
}

/* header */
header{
    width: 100%;
    height: 420px;
    background-image: url(./img/bg.png);
    background-size: cover;     /* Dimensiona a imagem para o menor tamanho possível para caber no contêiner */
    background-position: center; 
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 100%;    /* Arredondamento */
}
header img:hover{
    scale: 110%;            /* quando passar o mouse a escala cresce 10% */
    transition-duration: 200ms;
}
header h1{
    font-size: 36px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 700;     /* negrito */  
    color: white;
}
header span{
    color: white;
    font-weight: 500;
    margin: 4px 0;
}
.date{
    background-color: rgb(22, 163, 74);
    padding: 4px 16px; 
    border-radius: 8px;
    margin-top: 20px;
    font-weight: 500;
}
.isopen{
    background-color: rgb(22, 163, 74);
}
.isclosed{
    background-color: rgb(239, 68, 68);
}

/* title-menu */
.title-menu {
    font-size: 24px;        /* tamanho da fonte */
    line-height: 32px;      /* altura da linha de texto */
    font-weight: 700;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 30px;
}
@media (min-width: 768px) { /* dispositivos com a largura maior que 768px */
    .title-menu {
        font-size: 30px;
        line-height: 36px;
    }
}

/* menu Burger */
.menu{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));       /* grid de 1 coluna */
    gap: 28px;              /* espaçamento da grid */
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    padding-bottom: 60px;
}
@media (min-width: 768px) {
    .menu{
        grid-template-columns: repeat(2, minmax(0, 1fr));   /* grid de 2 colunas */
        gap: 40px;
        margin: 0 80px;
    }
}
.product{
    display: flex;
    gap: 8px;
}
.product img{
    width: 120px;
    height: 120px;
    border-radius: 6px;
}
.product img:hover{
    scale: 110%;
    rotate: -2deg;          /* rotação */
    transition-duration: 300ms;     /* duração da animação(transição) */
}
.product-descrition p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;    /* espaçamento das letras */
}
p.title-product{
    font-weight: 700; 
    font-size: 18px; 
    margin-bottom: 8px;
}
.buy-product{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    margin-top: 12px;
}
.buy-product p{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

}
.icon button{
    background-color: rgb(17, 24, 39);
    border-radius: 4px;
    padding: 0 20px;
    cursor: pointer;
}
.icon button i{
    color: white;
    font-size: 18px;
    line-height: 28px;
}

/* menu drink */
.title-drinks{
    margin: 0 auto 30px auto;
    max-width: 1280px;
    padding: 0 8px;
    text-align: center;
}
.title-drinks h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
@media (min-width: 768px) {
    .title-drinks h2 {
        font-size: 30px;
        line-height: 36px;
    }
}

/* modal */
.modal{
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;        /* fixa o elemento */
    top: 0;
    left: 0;
    z-index: 99;            /* ordem da pilha do elemento */
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-box{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    min-width: 80%;
}
@media (min-width: 768px) {
    .modal-box{
        min-width: 600px;
    }
}
.modal-box h2{
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}
.modal-items{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 8px;
}
.item-descrition{
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
    flex-direction: column;
    font-weight: normal;
}
.modal-box p{
    font-weight: 700;
}
.modal-box input{
    width: 100%;
    border-width: 1px;      /* largura da borda */
    padding: 4px;
    margin: 4px 0;
    border-radius: 4px;
}
.modal-box-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}
.checkout-btn{
    background-color: rgb(34 197 94);
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
}

/* footer */
footer{
    width: 100%;
    background-color: rgb(239, 68, 68);
    position: fixed;
    bottom: 0px;        /* posiciona o elemento da página na área inferior da tela */
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer button{
    background-color: rgb(239, 68, 68);
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 700;
    padding: 12px;
    min-width: 100%; 
    justify-content: center;
}
footer button i{
    font-size: 18px;
    line-height: 28px;
    color: white;
}